[2016-04-16 01:57] grimen opened #2 "React Native support?"
Is support for React Native support planned? Would be useful for mobile/native debugging. Don't think it should be much work based on this implementation that is not doing much DOM-specific other than the HTML specific tags.

[2016-04-21 20:36] nelseric opened #4 "React 15 Compatibility"
Is this package compatible with React 15?

[2016-04-22 05:09] grimen commented on #2
FYI, after quite some debugging got it to behave on React Native. It requires some changes in the JSX structure to behave, and custom styles. Don't really have the time to do a clean pull request as I ended up re-creating it bit-by-bit (and excluded the TableInspector), but in case there is interest I got plenty of insights how to make it work with React DOM and Native in relatively generic ways.

[2016-04-23 07:58] xyc commented on #2
Thanks @grimen . Maybe you can still make a pull request :) We (or someone who has got the time) can rewrite the parts later.

[2016-05-03 06:43] xyc commented on #4
Updated to react 15

[2016-05-03 06:43] #4 closed, assigned to nobody

[2016-05-03 08:30] xyc opened #6 "Immutable support"

[2016-05-05 06:05] xyc opened #8 "show non-enumerable properties"
Substitute `for in` loop with `Object.getOwnPropertyNames` to get non-enumerable properties.

Previously we use `for in` loop and `Object.prototype.hasOwnProperty` to get **own** and **enumerable** properties. (like `Object.keys()`)

`Object.getOwnPropertyNames` gets own properties including enumerable and non-enumerable ones.
#### Before change
- non-own properties will **ALWAYS NOT** be shown
-

[2016-05-06 04:18] xyc commented on #8
Resolved in 1.0.0-alpha.6

[2016-05-08 05:16] xyc opened #9 "Theming support"
Explore this idea:
https://github.com/markdalgleish/react-themeable

Reference:
https://github.com/xyc/react-object-inspector/issues/17

[2016-06-18 21:24] xyc commented on #6
Basic Support in 1.0.0

[2016-06-22 23:09] ilbonte opened #10 "ObjectInspector works, Inspector doesn't"
I have this basic example:

[code]

But I get this error:

[code]

But if I use

[code]

Works just fine! Is there difference between ObjectInspector  and Inspector?
Is ObjectInspector  the old https://github.com/xyc/react-object-inspector?

I'm using

[code]

With this boilerplate: https://github.com/survivejs/react-boilerplate

If you need I can upload the repo so you can try!

[2016-06-23 02:21] xyc commented on #10
Hi @ilbonte , please use

[code]

Inspector is currently default export. Will add it in named exports in the next version.
Difference between ObjectInspector and Inspector is that Inspector will check whether the object is a DOM Node and use DOM Inspector instead. `<ObjectInspector>` functions same as the old https://github.com/xyc/react-object-inspector, except that it supports surfacing non-enum

[2016-06-23 03:03] xyc opened #11 "Internal Properties (Promise)"
Internal properties are not accessible. Currently there is no way to do this.
[Promise example](http://stackoverflow.com/a/28917161/626126):

Expected:

[code]

Actual:

[code]
## References
- https://gist.github.com/paulirish/4158604#internal-properties
- http://stackoverflow.com/questions/30564053/how-can-i-synchronously-determine-a-javascript-promises-state

[2016-06-23 09:55] ilbonte commented on #10
Oh ok thank you! Maybe you should update the readme 😉
EDIT: noticed now that now is up to date

[2016-06-23 09:55] #10 closed, assigned to nobody

[2016-06-27 13:10] bripkens opened #12 "Sorting properties"
It would be great if properties of objects could optionally be sorted by the key. We are using this for dev tools and sometimes we are inspecting larger objects. Having it sorted by key would help us big time.

[2016-06-29 04:51] xyc commented on #12
Will add an optional prop like sortObjectKeys in https://github.com/alexkuz/react-json-tree#more-options

[2016-06-29 08:24] bripkens commented on #12
thanks @xyc!

[2016-07-04 20:14] austinnichols101 opened #13 "`Name` property does not appear to be rendered"
I believe there may be a problem when specifying the `name` property.

In the following screenshot I have two arrays being displayed, using the following props:

[code]

![image](https://cloud.githubusercontent.com/assets/6962379/16569236/ee4725d8-4201-11e6-8d72-67745807be24.png)

I would expect that the root node would show the value of the name property rather than the first row of the array.

[2016-07-05 18:26] austinnichols101 opened #14 "Missing build library: babel-runtime"
When building from source, `babel-runtime` is not specified in package.json.  After adding this package I was able to build.

[2016-07-05 18:28] austinnichols101 opened #15 "npm install from github fails"
When I install using the following command:

`npm install xyc/react-inspector`

The library installs, but I receive errors afterwards:

`Error: Cannot find module 'react-inspector'`

[2016-07-05 19:01] austinnichols101 commented on #13
Suggest adding a check for name at https://github.com/xyc/react-inspector/blob/master/src/tree-view/TreeView.js#L85

[code]

And then rendering the name itself at https://github.com/xyc/react-inspector/blob/master/src/tree-view/TreeNode.js#L64

[code]

[2016-07-07 23:47] xyc commented on #15
Hi @austinnichols101 , github repo doesn't include lib/.
You would need to run `npm run build` if it's installed from github.

[2016-07-08 21:58] vicaba opened #16 "Decreasing expandLevel does not update the component."
Hi,

I have an input to perform changes in the expandLevel, when increasing the number of expandLevel all goes ok and the changes are reflected in the react-inspector component but when I decrease the expandLevel it doesn't work, the component doesn't decrease its expand level. I'm almost new to react but as far as I know and logically, if I increase the expandLevel and it works, when decreasing i

[2016-07-12 22:58] xyc commented on #13
Hello @austinnichols101 , I'm working on fixing this. Should be fixed in the next version.

[2016-07-13 04:05] xyc commented on #15
should be resolved in 1.1.0

[2016-07-13 04:05] #15 closed, assigned to nobody

[2016-07-13 04:05] xyc commented on #14
Resolved in 1.1.0

[2016-07-13 04:05] #14 closed, assigned to nobody

[2016-07-13 04:06] xyc commented on #12
Resolved in 1.1.0

[2016-07-13 04:06] #12 closed, assigned to nobody

[2016-07-13 04:06] xyc commented on #9
Support starting from 1.1.0

[2016-07-13 04:06] xyc commented on #13
Resolved in 1.1.0

[2016-07-13 04:07] #8 closed, assigned to xyc

[2016-07-18 14:48] austinnichols101 commented on #13
@xyc : Thanks for the update - I now see the name field being rendered.  However, the data contents are also being rendered.  I think that the data contents should be suppressed if the name field is specified.

![image](https://cloud.githubusercontent.com/assets/6962379/16918773/fed3b708-4cd4-11e6-83ae-a3c2df631cd1.png)

[2016-07-27 21:07] xyc commented on #13
Hi @austinnichols101  Thanks for trying it out.
Currently there's no specs on this (in browser devtools) - Default to render data contents since libraries like `react-storybook` depend on this and need the data contents to be rendered.

May I ask the reason that you have specific needs for suppressing the data contents?

Will consider adding customizable `nodeRenderer` (define custom component to

[2016-07-27 21:28] austinnichols101 commented on #13
@xyc

For backwards-compatible behavior with react-object-inspector.  Below is an example of how the name was rendered.

![image](https://cloud.githubusercontent.com/assets/6962379/17193032/2925e3b8-541f-11e6-92f3-ee45192ae10b.png)

[code]

[2016-08-13 07:58] xyc commented on #16
Hi,

Sorry for taking long to get back. Should be fixed in the next minor v

[2016-08-13 08:16] vicaba commented on #16
Thank you.

[2016-08-13 08:58] xyc commented on #16
In the meantime https://github.com/xyc/react-object-inspector should be free of this.

[2016-10-24 09:52] glenjamin opened #18 "Implicit dependency on babel-runtime"
I tried using this on a project where I hadn't bothered with babel yet, and discovered that the transpilation settings produce `require()` calls to `babel-runtime`, which isn't specified as a dependency.

The two possible solutions that come to mind are switching the compiler options to inline the shims, or to add the dependency.

[2016-10-29 00:51] xyc commented on #18
Hi Glen,

Thanks for the suggestions. Fixed in 1.1.1 by adding the dependency.

Reference: https://github.com/xyc/react-inspector/issues/14

[2016-10-29 00:51] #18 closed, assigned to nobody

[2016-11-16 04:44] gnestor opened #19 "expandPaths: How to select a node in an array?"
According to the [docs](https://github.com/xyc/react-inspector#expandpaths-proptypesoneoftypeproptypesstring-proptypesarray-an-array-containing-all-the-paths-that-should-be-expanded-when-the-component-is-initialized-or-a-string-of-just-one-path), `expandPaths` accepts a (or any array of) JSONPath-string(s). How can I expand a path that is nested inside an array (e.g. `$[2].repos`)?

[2016-11-29 05:41] xyc commented on #19
Could you give an example of the shape of object and the path you are trying to expand?

[2016-11-29 17:12] gnestor commented on #19
For example:

[code]

There's currently no way to say _expand the second item in the array and it's "owner" child node_.

[2016-12-01 05:22] xyc commented on #19
try `expandPaths={['$', '$.1', '$.1.owner']}`?

[2016-12-01 16:11] gnestor commented on #19
That worked! Thanks @xyc! I will submit a PR with an example like this for others 👌

[2016-12-01 16:11] #19 closed, assigned to nobody

[2017-01-21 15:59] zetachang opened #24 "Custom Object Formatters Support?"
Is it possible to use a custom formatter as in [Custom Object Formatters in Chrome DevTools](https://docs.google.com/document/d/1FTascZXT9cxfetuPRT2eXPQKXui4nWFivUnS_335T3U/preview)

[2017-04-24 16:37] cgood92 opened #25 "React 15 upgrade is now throwing warnings"
Once I upgraded my react project to React 15+ (currently `15.5.4`), I am getting 3 warnings on every page of my storybook, and it's starting to get a little annoying.  I have traced back 2 of the warnings to this npm package.

[code]

This is because React.PropTypes is now considered deprecated, in favor of using the npm library `prop-types` instead (see the top banner of https://facebook.github.i

[2017-04-24 16:54] cgood92 commented on #25
Here is the related PR: https://github.com/xyc/react-inspector/pull/26

[2017-05-10 12:57] ndelangen commented on #25
Storybook maintainer here, Can we help in any way?

[2017-05-12 19:02] ndelangen commented on #2
@grimen Do you still happen to know what you did to get it to work well for react-native?

Is a PR something you might be able to do?

[2017-05-12 19:03] ndelangen commented on #6
Is this completed?

[2017-05-12 19:03] ndelangen commented on #9
Is this completed?

[2017-05-12 19:08] ndelangen commented on #16
I'm guessing this is completed?

[2017-05-12 19:10] ndelangen commented on #25
I'm now co-maintaining this package, and will be publishing a new version shortly fixing this.

[2017-05-12 19:10] #25 closed, assigned to nobody

[2017-05-13 04:18] xyc commented on #9
This is completed.

[2017-05-13 04:18] #9 closed, assigned to nobody

[2017-05-13 04:24] xyc commented on #6
Depending on how people would want it... The preview part is not done.
<img width="486" alt="screen shot 2017-05-12 at 9 22 31 pm" src="https://cloud.githubusercontent.com/assets/679275/26022383/29a5418a-3759-11e7-9888-36ca97b38b17.png">

[2017-05-17 12:00] Hurtak opened #29 "expandLevel only works for component initialization"
Hi,

is it possible to set expandLevel programatically after the component has been initialized. The `expandLevel` prop seems to only work on initial expanding.

[2017-05-17 12:40] Hurtak opened #30 "expandLevel infinity"
Hi,

I would like to propose API change so that the `expandLevel` also takes `Infinity`. Currently, it is not possible to set the tree view to the fully expanded state by any other way than by setting expandLevel to some arbitrarily large number.

I also tried `Number.MAX_SAFE_INTEGER` but that (along with `Infinity`) causes to throw `Invalid array length'.

[2017-05-17 13:06] Hurtak opened #31 "TypeError: invalid Array.prototype.sort argument"
In firefox I am getting

[code]

It happens when
- in FF (Chrome is fine)
- `sortObjectKeys` prop is set (seems to be also broken when it is set to false)
- data is object, eg.: `{}`

[2017-05-17 19:10] CodyReichert commented on #31
Yeah, I can reproduce this, thanks for the report. [Here's a webpack bin](https://www.webpackbin.com/bins/-KkMl1vn8ac0df2pDy44) that, if loaded in Firefox, will show the error mentioned above. This does work fine in Chrome.

The issue is [on this line](https://github.com/xyc/react-inspector/blob/d64e9057b51d406704e90145c37b83300d342f13/src/object-inspector/ObjectInspector.js#L36)

The `sort` funct

[2017-05-17 19:23] CodyReichert commented on #29
Like this? https://www.webpackbin.com/bins/-KkMqgc8xqC8J1wMD6n2

[2017-05-17 19:54] Hurtak commented on #29
My use case is I have buttons that set react-inspector to certain expand level. Unless I am doing something wrong, it seems to be only working for expanding, but not for collapsing.

https://www.webpackbin.com/bins/-KkMxUuKiy5eD5G_-l0d

[2017-05-17 20:20] Hurtak commented on #30
I cannot verify right now because I am at a different computer, but I had some object with like 10 levels, and expanding to all levels with expandLevel=100 was noticeably slower than expandLevel=15. I Will try to investigate more tomorrow.

[2017-05-19 17:57] #31 closed, assigned to nobody

[2017-05-19 18:02] CodyReichert commented on #24
Hey @zetachang - I didn't dig into the link too much, just looked at some of the pics, but #23 adds support for a custom `nodeRenderer` prop that gives you full control over how each node is rendered.

See the pic here: https://github.com/xyc/react-inspector/pull/23#issue-196179062
And the [README instructions here](https://github.com/CodyReichert/react-inspector/blob/06984eddf6ce103c1f80666b515c0

[2017-05-19 18:03] CodyReichert commented on #29
Ah ok, so it looks like it's similar to #16. I haven't dug into that part of the code too much, but I'll try and take a look soon.

[2017-05-19 18:05] CodyReichert commented on #29
Actually, I'm gonna go ahead and close this in lieu of #16 -- but please re-open if it's not the same issue!

[2017-05-19 18:05] #29 closed, assigned to nobody

[2017-06-26 09:35] iloahz opened #33 "CDATA filed not rendered"
result in console:
![screen shot 2017-06-26 at 5 30 12 pm](https://user-images.githubusercontent.com/849273/27533249-7e188556-5a95-11e7-9310-db3ce02267ad.png)

result in web page using react-inspector:
![screen shot 2017-06-26 at 5 30 23 pm](https://user-images.githubusercontent.com/849273/27533280-9304a652-5a95-11e7-9d09-2179ba480a53.png)

code looks like this:
[code]
can you help take a look?

[2017-06-26 10:25] iloahz commented on #33
created a pr at https://github.com/xyc/react-inspector/pull/34

[2017-06-28 10:54] ndelangen commented on #33
Released with 2.1.0

[2017-06-28 10:54] #33 closed, assigned to nobody

[2017-07-11 14:18] feldgendler opened #37 "Please include webpack output in NPM distribution"
Many other libraries include webpacked, minified single-file versions in their NPM distributions. React itself is one of the many such examples.

Can you please add that to the react-inspector NPM?

[2017-07-11 19:51] ndelangen commented on #37
Sounds reasonable to me.

[2017-07-22 14:28] kumarabhishek commented on #37
If your expectation is to have transpiled and minified single ES5 file then there is small drawback. For example in case you are not using DOMInspector in your code you won't import it in your app thereby including only code that is required and not everything. If we have single file then all code of library is included whether you want or not. Till we get tree-shaking correctly supported by webpa

[2017-07-22 21:34] feldgendler commented on #37
Yes, this is exactly what I expect, and I don't mind the file containing parts that I don't use. This is consistent with what happens when one uses a pre-packed React (which is even available on public CDNs that way).

[2017-07-25 20:10] ndelangen commented on #37
@feldgendler Is it possible for you to submit a PR to add it? I'd suggest compiling to a `dist` folder using babel.

[2017-07-25 20:25] feldgendler commented on #37
I started out by trying to produce a webpacked file myself, using “npm build”, but the resulting file caused errors in the browser (can't remember now what it was, looked like something internal to webpack). So I decided that I was doing something wrong, and that you probably know better how to do it.

[2017-07-25 20:25] feldgendler commented on #37
I mean, I did that before I decided to file this bug.

[2017-12-08 12:37] rhalff opened #42 "Warning: Received NaN for numeric attribute `children`"
React throws a warning for NaN, could be solved by using `{String(value)}` for numbers also, same as is used for boolean values.

[code]

See #43

[2017-12-10 09:15] #42 closed, assigned to nobody

[2017-12-12 14:31] ndelangen commented on #30
@Hurtak sounds reasonable enough to me, would you be able to open a PR?

[2017-12-12 14:31] #16 closed, assigned to nobody

[2017-12-12 14:34] ndelangen commented on #13
This is resolved right?

[2017-12-12 14:34] #13 closed, assigned to nobody

[2017-12-31 20:25] billiegoose commented on #37
I second this proposal. I don't have a React app... I just want to use this component to display data for a documentation site I'm making. Am hoping I can just import the UMD versions of React and this with script tags and get it to work somehow.

[2018-01-01 04:38] billiegoose commented on #37
@feldgendler I bundled the object inspector into a standalone build and published it to the registry: https://npm.im/react-object-inspector-standalone

It's for those use cases where you aren't using React or Webpack, and want to just drop in a script tag and get something working quickly.

[2018-01-01 10:58] ndelangen commented on #37
@wmhilton I would be happy to accept a PR.

It should:
- adding a build step that generates this file
- ignore this file for git
- add the file to npm
- add a section to the readme abou usage

Would love to see that PR 🙇

[2018-01-23 21:40] BruceConstantine opened #44 "Why there is nothing on localhost:9001 after run the project?"
As titile。。。

[2018-01-23 22:26] ndelangen commented on #44
This is what I get when I run `yarn storybook`:
<img width="477" alt="screen shot 2018-01-23 at 23 25 56" src="https://user-images.githubusercontent.com/3070389/35304147-cac7b962-0094-11e8-8b08-a9fdc4435c65.png">

<img width="1916" alt="screen shot 2018-01-23 at 23 25 16" src="https://user-images.githubusercontent.com/3070389/35304132-b93cb670-0094-11e8-8b4e-0782d208cf9f.png">

Please provide more

[2018-01-29 21:08] philcockfield opened #45 "Option to Turn Off Child Summary"
When an item contains many children, for instance the array shown below:

![image](https://user-images.githubusercontent.com/185555/35534367-30780e64-05a5-11e8-9374-f896beb5668f.png)

It would be nice to have a property that tells the component to how rendering the summary, especially if the item is open, it's repeating data that is on-screen and when the object/array is large, it's very noise on

[2018-01-31 17:03] ndelangen commented on #45
How about not rendering the summery when it's expanded, will that work?

[2018-01-31 17:57] philcockfield commented on #45
Yeah. That would be perfect.

[2018-02-16 01:54] xyc commented on #45
@philcockfield you can use a custom node renderer. see example here: https://codesandbox.io/s/8485j7llrl

[2018-02-17 23:55] CodyReichert commented on #45
Ah right, good solution @xyc - forgot about that feature, but that would be the best way to do it right now.

Also, it would be nice if not rendering the summary when it's expanded is still optional, since I think in some cases (eg, smaller objects), it still looks "good". Other than that I think it would be a good addition a simpler option to a custom renderer.

[2018-02-20 02:57] philcockfield commented on #45
Thanks @xyc, that's awesome.  Ended up doing your approach this way that suited my purposes:

[code]

[2018-02-21 04:31] xyc commented on #45
@CodyReichert Thanks for the help on that feature!
@philcockfield That looks good. Let me know if you want to close out this one.

[2018-02-23 04:53] philcockfield commented on #45
Hey @xyc - good to close by me - thanks!

[2018-02-23 04:53] #45 closed, assigned to nobody

[2018-03-08 02:20] alvaro1728 commented on #16
This is still broken but I worked around it by temporarily dismounting the component and then remounting it with the lower expandLevel.   So something like this:

[code]

So my onExpand handler looks like this:

[code]
Cheers,
Alvaro

[2018-03-31 01:28] Hypnosphi opened #47 "Remove usages of unsafe lifecycle methods"
React team recently published a blogpost: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

TL;DR: `cWM`, `cWRP`, and `cWU` methods are considered unsafe for future async rendering and will be deprecated soon. The recommended way for open source maintainers to deal with it is to use [`react-lifecycles-compat`](https://github.com/reactjs/react-lifecycles-compat) package and migrat

[2018-04-05 18:19] rivertam opened #48 "TypeError: Cannot read property 'name' of undefined"
Hi there.

So I'm trying to display an `EventEmitter` from `eventemitter3`, which has an internal property `_events` of type `Events`. This internal property does not have a `constructor`, so I'm getting an error on [this line](https://github.com/xyc/react-inspector/blob/master/src/object/ObjectValue.js#L59). I'd make a PR, but I actually don't know what the solution should be.

[2018-04-05 18:21] rivertam commented on #48
Looking more into it, it looks like it's supposed to be impossible for an object to exist without a constructor... Might this be a bug in V8 or something?

[2018-04-05 18:23] rivertam commented on #48
Tried it in Firefox and got the same result. This is an object being passed back to me from an iframe, so that might be related? I'm quite confused.

[2018-04-05 20:28] ndelangen commented on #48
`Object.create(null)` will create an object without any prototype, thus have no constructor.

[2018-04-05 21:18] rivertam commented on #48
Yes, I've been doing a good amount of research on this today. This is valid behavior in JS, so it should not cause an error in this library. Still unsure how -- if at all -- react-inspector can get the object type, but maybe it can just output a placeholder for the name in this case.

[2018-04-05 21:53] ndelangen commented on #48
Sure, 'Object' seems fine to me... Would you want to create a PR for it?

[2018-04-05 22:40] #48 closed, assigned to nobody

[2018-04-09 08:21] xyc commented on #47
@Hypnosphi Thanks! `cWRP` is actually used alongside with legacy context API. I'm going to integrate the new Context API, and push out a new major version of react-inspector that only supports React 16.3.0 onwards.

[2018-04-09 08:45] xyc opened #50 "Next major version"
With the recent update of React: https://reactjs.org/blog/2018/03/29/react-v-16-3.html and updates from Chrome DevTools, it's time to update react-inspector to use the new context api and update it to match Chrome's changes.

Related issues:
- #47
- https://developers.google.com/web/updates/2017/05/devtools-release-notes#object-previews

`^3.0.0` will support only react>=16.3.0
`^2.0.0` supports o

[2018-04-09 08:46] Hypnosphi commented on #50
You can keep supporting earlier versions using [`create-react-context`](https://github.com/jamiebuilds/create-react-context)

[2018-04-09 09:00] xyc commented on #50
Yeah that's an option. But, `create-react-context` uses `componentWillReceiveProps` under the hood

[2018-04-09 09:03] Hypnosphi commented on #50
I think that's OK, the component using this method will only be rendered in <=16.2

[2018-04-09 09:19] xyc commented on #50
Make sense, I'll try it if it's stable enough for production

[2018-04-23 17:11] jason-codaio opened #52 "Support data substitution/replacer"
Complex data structures can include encoded data. When viewing the data expanded in an explorer you often want to decode that data to make it more readable. I tried to replace an existing viewer with react-inspector to realize that `nodeRenderer` does not respect that `data` param passed forward. I decode the information and pass it forward to `ObjectLabel` which only uses it for deciding the labe

[2018-04-26 05:20] ndelangen commented on #52
Yea that makes sense, would you be able to open a PR?

[2018-05-13 14:12] d07RiV opened #54 "Nodes can only be toggled once"
If I click to expand a node, I can't collapse it anymore.

Debugging indicates that the problem lies with the use of context in `TreeView`/`ConnectedTreeComponent`. On every `componentWillReceiveProps` call, the `TreeView` creates a new store state, which results in all children having different copies of `store` in their contexts (because context is only read once, during component creation). The

[2018-05-13 19:37] d07RiV opened #55 "How to force update data"
I'm using this to display mutable data, but when the data changes there is no way to force the inspector to show new values. If I collapse/expand the nodes, they update, but I want to show the changes immediately.

In my case, the object is linked to the entire app state, so cloning it is infeasible.

[2018-06-23 20:48] johninvicara opened #56 "storybook is not building"
I get an error after "npm install" and "npm run storybook":

	compiler.hooks.compilation.tap(
		               ^

TypeError: Cannot read property 'compilation' of undefined

Not a big deal, but thought it might be due to some dev tool updates.
I cloned into a new directory, and just did the usual "npm install".

[2018-06-24 05:14] CodyReichert commented on #56
I couldn't immediately reproduce, works on a fresh install for me.

Sounds kind of like this: https://github.com/storybooks/storybook/issues/3313

Maybe try and make sure all the packages are the right version, it's not using any globally installed packages, etc. What version of node/npm?

[2018-06-24 21:18] johninvicara commented on #56
OK, I have workarounds for anyone else who is affected.

When I do a 'git clone' and then just do 'npm run build', it fails with
TypeError: resolveFrom.silent is not a function.

This is fixed by wiping node_modules and deleting package-lock.json and a new npm install.

The Storybook issue is related to the item @CodyReichert reported above.  I did an 'npm uninstall @storybook/react' and then inst

[2018-06-24 21:18] #56 closed, assigned to nobody

[2018-07-20 15:29] ndelangen opened #59 "FIX the CI (replace with CircleCI?)"
The CI seems to be broken, perhaps node version?

Perhaps we should switch to CircleCI if we're going to invest time into fixing it?

Any takers? Should be hard to setup at all.

[2018-07-20 15:31] ndelangen commented on #59
@xyc could you connect CircleCI to the repo?

[2018-07-26 16:04] ndelangen commented on #59
We should also add Chromatic on top of the storybook!

@xyc if you don't have time do do it? can we transfer this repo into an organisation so I can get administrator-right and do it for you?

[2018-07-27 18:04] CodyReichert commented on #59
Build fixed in #60

[2018-07-27 18:04] #59 closed, assigned to nobody

[2018-07-29 01:20] jcalfee opened #61 "Import via script tag"
Is it possible to use your package like this?
[code]

Usually I see a global show up when I source a udm package.  What is the secret?  thank you

[2018-08-01 07:22] xyc commented on #59
@ndelangen @CodyReichert sorry just got to this. Just added circle CI. Please let me know if anything else is needed

[2018-08-01 07:26] xyc commented on #61
look like a duplicate of #37

[2018-08-08 17:28] jcalfee commented on #61
agreed..thank you

[2018-08-08 17:28] #61 closed, assigned to nobody

[2018-09-04 20:15] d07RiV opened #63 "Add support for Error object"
Currently, `Error` objects are simply displayed as `Error {}`. It would be nice if it looked like Chrome's `console.log(Error("..."))`, showing error message, location, and expandable stack trace.

[2018-09-06 10:31] ndelangen commented on #63
Yeah that would indeed be very nice!
Do you think you could add that feature and open a PR?

[2018-10-16 21:54] chinchang commented on #63
I would like to work on this. Do you think this can be a special case inside `ObjectInspector` itself?

[2018-11-08 09:00] xyc commented on #11
It's not technically feasible to determine internal properties from userland JS lib. Closing this.

[2018-11-08 09:00] #11 closed, assigned to nobody

[2019-02-26 05:02] xyc commented on #44
Closing - not reproducible

[2019-02-26 05:02] #44 closed, assigned to nobody

[2019-02-28 09:07] xyc commented on #47
Resolved in #68

[2019-02-28 09:07] #47 closed, assigned to nobody

[2019-03-13 09:50] kraenhansen commented on #55
Did you solve this? I've created a small example that shows how the `ObjectInspector` can be wrapped in a component that you manually forceUpdate when the object updates https://codesandbox.io/s/zk6lo7m473 .. and instead of passing the object, we pass a shallow copy to trick the ObjectInspector into updating.

[2019-03-13 11:07] kraenhansen opened #71 "Export the TreeView component"
In a situation where you want to display an object expanded to its first level, but doesn't want the user to be able to collapse it, it would be nice to just be able to render the `TreeView` component:

![Skærmbillede 2019-03-13 kl  12 06 33](https://user-images.githubusercontent.com/1243959/54274473-76a67500-4588-11e9-9ede-e0aaff885ef4.png)

[2019-03-13 11:22] kraenhansen commented on #71
I managed to achieve this by iterating the object and rendering multiple `ObjectInspector`, one for each property.

[2019-03-26 20:20] jamiewinder opened #72 "Package contains ES2015 code"
I don't know if you consider this to be an issue or not, but the dist code for this package now includes ES2015+ code (as of v3.0.0). For example, `const` and `let`. I'm able to transpile this myself of course, but I find it rare to have to do so for a library so I'm not sure if it's intentional or not.

[2019-03-26 21:59] goodmind commented on #63
Anyone doing this?

[2019-03-27 06:58] xyc commented on #72
Thanks for reporting this issue. Looks that babel didn't transform `const` / `let`. Will take a look.

[2019-03-28 07:07] #72 closed, assigned to nobody

[2019-04-19 20:25] queeniema opened #76 "Support option to hide the root node"
For the tree view (`<Inspector data={data} />`), it would be nice if the root node could be hidden. This is helpful when it does not provide any added value and I'm only interested in seeing the child contents.

[2019-04-22 06:42] xyc commented on #76
Looks to be a dup of #71

[2019-04-22 18:59] #76 closed, assigned to nobody

[2019-04-27 17:15] ndelangen opened #77 "Upgrade to core-js 3"
Let's upgrade to core-js 3

[2019-04-27 18:03] ndelangen commented on #63
No, would you be able to help @goodmind ?

[2019-05-07 11:15] ndelangen commented on #2
@benoitdion this might be interesting to you?

[2019-05-07 11:16] #77 closed, assigned to ndelangen

[2019-06-07 05:19] majapw opened #79 "Add looser peer dep requirements for react and react-dom?"
QQ: Would it be possible to loosen the react and react-dom peer dep restrictions to ^16.0.0 or are there explicit dependencies on react 16.8+ features in this library?

[2019-06-12 05:42] xyc commented on #79
Please see the recommended versions section: https://github.com/storybookjs/react-inspector#install.  version `3.0.2`+ requires hooks support to work properly. If you are not using react 16.8+, you can stick with version `2.3.1`.

[2019-07-02 01:50] majapw commented on #79
Unfortunately, I am not using this package directly, but rather a package I am using (Storybook) relies on it. Sounds like it has a hard dependency on 16.8 though. Thanks!

[2019-07-02 01:51] #79 closed, assigned to nobody

[2019-07-02 14:13] ndelangen commented on #79
Storybook should work for React 15 and up?

[2019-07-20 19:56] d07RiV opened #83 "Misaligned object entries"
Entries with sub-items are not aligned together with plain items:

![image](https://user-images.githubusercontent.com/3448203/61583514-94d93e80-ab41-11e9-9193-466046b1b446.png)

[2019-07-24 05:42] xyc commented on #83
Do you mind making a codesandbox repro?

[2019-07-30 08:10] wmertens opened #84 "shouldn't use regeneratorRuntime"
When I bundle this for modern browsers, it fails because it expects `regeneratorRuntime` to exist. This is my only dependency with this problem.

[2019-08-01 05:06] lionel-lbr commented on #84
I have a same issue here.

[2019-08-02 09:55] d07RiV commented on #83
I'll try, could it be because of reset CSS? Looking at the code, it seems to expect that a space has the same width as the arrow symbol, which is not the case even in monospace font.

I changed it to use an invisible arrow in my fork but couldn't do a pull request because I had other commits in there.

[2019-08-13 05:47] grimen commented on #2
Randomly noticed...I lost track of this, haven't worked with React Native in ages but I should have the code somewhere if still of use. Question is if React Native had breaking changes...

[2019-08-27 05:35] jmikedupont2 opened #86 "Link 404"
The link in the project description is 404

http://xyc.github.io/react-inspector/

[2019-09-07 03:12] xyc commented on #86
This happens when I moved the repo from my personal account @xyc to the @storybookjs org. @ndelangen Could you take a look at this? If you set me up for admin access to this repo, I can set up the github pages for this again.

[2019-09-27 07:05] kraenhansen commented on #84
I am still getting this at the newly released v4.0.0 - this is the stacktrace that I get:

[code]

From this, it seems like https://github.com/storybookjs/react-inspector/blob/master/src/dom-inspector/DOMInspector.js#L10 is the offending line. It's using a generator function and it seems like `react-inspector` transpiles this (using Babel) into statements which uses `regeneratorRuntime ` (see http

[2019-09-29 08:22] eps1lon opened #92 "Missing peer dependency warning"
As of 4.0.0 you get missing peer dependency warnings similar to
`warning "workspace-aggregator-12c48891-c36a-4ea4-b94e-4b9a7de4a90f > docs > react-inspector > storybook-chromatic@2.2.2" has unmet peer dependency "@storybook/core@3.* || 4.* || 5.*".`

Coupled with a missing changelog it's not obvious why one would want to upgrade.

Could you add a `peerDependencies` entry to resolve the warning and

[2019-10-15 15:19] jcready opened #94 "Please export all react components"
- DOMNodePreview
- ObjectPreview
- TreeView
- TreeNode

[2019-10-15 19:36] jcready opened #95 "ObjectPreview should be used in place of ObjectLabel"
Collapsed nested objects/arrays in Chrome's devtools show the preview of the value not just `Object` or `Array`, upon expansion the preview goes away for objects, but not for arrays.

![react-inspector](https://user-images.githubusercontent.com/358876/66863604-63fe7f00-ef61-11e9-94b9-4dd4b3e7696c.gif)

The preview also prevents line-wrapping using the following CSS:

[code]

I would love to be abl

[2019-10-21 05:31] vdh commented on #77
@ndelangen `babel-runtime` is still using core-js 2, you'll probably want to also swap it out for `@babel/runtime`?

[2019-10-21 08:12] ndelangen commented on #77
Would you possibly be able to open a PR for that @vdh ?

[2019-11-15 11:02] LostInBrittany opened #97 "Upgrading storybook-chromatic version?"
Hi!

I am using `react-inspector` via `@storybook/addon-actions` on an [OpenWC](https://open-wc.org/) project.

`react-inspector` has currently a dependency to `storybook-chromatic` 2.2.2, that itself has a dependency to an old version of `jsdom` that has a deprecated dependency to `left-pad`.

Would it be possible to upgrade to `storybook-chromatic` 3.1.0 that has upgraded the `jsdom` version dep

[2019-12-03 13:36] csimi commented on #97
Shuldn't this be a devDependency though?
Edit: yeah, there is a separate PR for that

[2019-12-03 15:51] LostInBrittany commented on #97
Yeah, I have seem another PR doing that and I didn't want to overwrite it

[2020-01-17 21:42] nateabele commented on #84
Same, ran into this just today. Trying to use this at all hoses my app because the distro version of the module isn't bundled correctly:

[code]

[2020-02-11 07:19] kraenhansen commented on #84
@nateabele I'm currently pinned at v2.2.2, which doesn't seem to have the issue.

[2020-02-11 13:50] #84 closed, assigned to nobody

[2020-03-06 08:34] kraenhansen commented on #84
@ndelangen now we're just missing a release of the fix 😉

[2020-03-06 22:58] #92 closed, assigned to nobody

[2020-03-10 14:25] ndelangen commented on #84
I'll do it today

[2020-03-10 15:22] #97 closed, assigned to nobody

[2020-03-10 15:38] ndelangen commented on #84
done!

[2020-03-16 18:08] dmt0 opened #105 "No CHANGELOG"
History also hasn't been updated with the last few releases.

[2020-03-19 07:27] cahilfoley commented on #105
This makes it difficult to know if we can upgrade as the version indicates that there have been 2 rounds of breaking changes since version 3.

[2020-04-05 16:05] oliviertassinari opened #107 "Implement keyboard accessibility"
The component doesn't have keyboard support. I think that it would be interesting to implement it. The accessibility guidelines can be found at https://www.w3.org/TR/wai-aria-practices/#TreeView.

Here is an example in the Chrome Dev Tools:

![Apr-05-2020 17-47-55](https://user-images.githubusercontent.com/3165635/78503239-b167e600-7765-11ea-9e48-bdcb8da36929.gif)

---

Material-UI used to rely on

[2020-06-13 19:39] luminaxster opened #109 "expose expandedPaths"
I would like to access the state of the expanded paths users interact with. However, I cannot access the current expanded paths from the API. I know we can set the paths to expands via `expandPaths` but we cannot get the user-generated ones by passing a ref to call something like `getExpandedPaths`, or making it controllable via `onExpandedPathsChange` in conjunction with the existing `expandPaths

[2020-08-15 14:21] ngocdaothanh opened #114 "Spaces in string data are limited to 1"
With this code:
[code]

Expected output (3 spaces between abc):
[code]

Actual output (only 1 space between abc):
[code]

This bug defeats the purpose of inspecting, because the string is not displayed correctly.

[2020-08-18 13:23] ngocdaothanh commented on #114
Wrapping `<ObjectInspector data={'   a   b   c   '} />` inside `<pre>` tag seems to fix the problem 👍

[2020-08-18 13:23] #114 closed, assigned to nobody

[2020-08-18 13:24] ngocdaothanh commented on #114
I think this should be noted explicitly in README.

[2020-11-05 19:27] mtmacdonald opened #121 "[Bug] React 17 support"
Hi! Can we please have React 17 support so I don't get this peer dependency warning upon npm install in my React 17 projects. Thanks!

npm WARN react-inspector@5.1.0 requires a peer of react@^16.8.4 but none is installed. You must install peer dependencies yourself.

[2021-02-04 21:45] ballPointPenguin opened #123 "Invalid package.json"
There's an extraneous comma in the package.json file.

[2021-02-05 16:46] pip8786 commented on #121
It seems to be updated in the package.json but not published. Is there any way to get published?

[2021-02-08 17:00] jackric commented on #121
Please publish a patch release! I am current required to install deps with `$ npm install --legacy-peer-deps` without this.

[2021-02-10 20:08] #123 closed, assigned to nobody

[2021-02-17 17:02] pd8 commented on #121
Hi I was wondering if this version had been released already - I can see the code in your main branch but it doesn't look like a new version has been published yet. This would unblock part of the storybook 6.1 react 17 support for npm 7, so was hoping we'd see a new version soon, I can see @bcomnes merged the change... hello again from https://github.com/reach/router/pull/452 ! I was wondering who

[2021-03-10 05:21] kvnwolf commented on #121
This is also causing projects with `npm@>7.x` installs. Is there a chance this could be released soon?

[2021-03-12 21:19] siiiiilvio commented on #121
🚢  🙏

[2021-03-15 11:09] silltho commented on #121
@ndelangen am i right that this is blocked by https://github.com/reach/router/pull/452? If not is there anything the community could do to get this released?

[2021-03-17 10:59] ndelangen commented on #121
@silltho I invited you to the github org, if you could help out getting this repo is a better shape, that'd be amazing.

If you'd like to also publish new version no npm, let's have a quick chat via the storybook discord:
https://discord.gg/js3AjMg6dW

[2021-04-01 16:18] bcomnes commented on #121
@ndelangen I reached out on discord to help out. @Hypnosphi is already a contributor and has been helpful to get a bunch of the other packages over the line.  Perhaps consider giving him publishing permissions.  I'm also willing to help with that if nobody else is.

[2021-04-02 17:38] bcomnes commented on #121
Ok, I have contribution access and will get a new release out to fix this.

[2021-04-15 01:00] alvaro1728 opened #129 "Hiding nodes based on name?"
I'd like to hide certain nodes based on their name.  Is that possible without modifying the original object?  For example:
[code]
Thanks,
Alvaro

[2021-04-15 05:23] thomasboyt commented on #121
Hi, is anything preventing a release of 5.1.1? Currently working around this bug with `npm install --legacy-peer-deps` but rather awkward to make sure that's used everywhere.

[2021-04-15 07:34] silltho commented on #121
@thomasboyt you can use a `.npmrc` file in the root of your project with ```legacy-peer-deps=true``` to set the flag.

[2021-04-15 14:46] bcomnes commented on #121
Ok react-inspector 5.1.1 supports react 17.  Sorry for the wait.  It looks like reach router is the last thing holding off react 17 support:

https://github.com/reach/router/pull/452

[2021-04-15 14:46] #121 closed, assigned to nobody

[2021-04-15 18:18] bcomnes commented on #105
See [HISTORY.md](https://github.com/storybookjs/react-inspector/blob/master/HISTORY.md).

[2021-04-15 18:18] #105 closed, assigned to nobody

[2021-06-07 11:46] Artboomy commented on #129
You can checkout fork that I made - https://github.com/Artboomy/react-inspector/tree/dev/feature%2Fhighlight
It has highlight and search functionality. Look for HighlightContext & SearchContext.

Disclaimer: It does modify input object by adding non-iterable symbol fields on original object.

[2021-08-23 05:43] wereHamster opened #141 "[Bug] incompatible with strict CSP settings (when no unsafe-eval allowed)"
### Describe the bug

When react-inspector is used a web page which uses strict CSP setting (doesn't allow unsafe-eval), it crashes.

It's because the dist build (not only the cjs version but even the es version!) uses `Function()` to create and execute dynamic code. See line 744 in https://unpkg.com/browse/react-inspector@5.1.1/dist/es/react-inspector.js.

### Expected behavior

The dist build us

[2021-09-01 17:28] aaron-michaux opened #142 "Allow additional CSS to top-level component"
### Describe the bug

I'm trying to implement a scrollbar, and need to add `overflow: auto; will-change: transform;` to the `<Object Inspector />` component. This is, of course, thwarted by the theming implementation. The programmer should be able to add additional CSS directly to the theme, perhaps like so:

[code]

The absence of scrollbars on an expandable tree widget is... interesting, and may

[2022-02-17 19:23] sergeichestakov opened #146 "[Bug] Demo doesn't work in Firefox"
### Describe the bug

Hey! this app/library is sick. Looks like [the demo](https://xyc.github.io/react-repl-console/) doesn't work in Firefox though

### Steps to reproduce the behavior

1. Visit https://xyc.github.io/react-repl-console/ in an incognito tab in Firefox (no extensions)
2. Try to click input field and/or type
3. Input never gets focused, unable to type

### Expected behavior

Expecte

[2022-02-28 18:53] tinybitsofcode opened #149 "[Bug] window is not defined on startup, when using NextJS"
### Describe the bug

Trying to integrate the Inspector with the latest NextJS, will prompt the `ReferenceError: window is not defined` error, with minimal configuration of react-inspector.

### Steps to reproduce the behavior

1. Go to https://nextjs.org/docs, create a new NextJS app (using `npx create-next-app@latest`)
2. In the new project, install the latest `react-inspector` (using `npm insta

[2022-03-11 14:28] luminaxster commented on #149
Yep, been there. Next automatically supports SSR, and isDOM ( used here `import {isNode as isDOM} from './utils/typeUtils';`) breaks SSR for React Inspector, try code splitting to avoid the SSR phase:
[code]

[2022-05-03 17:59] daelynj opened #152 "Could we have the peer deps updated for React 18?"
[code]

[2022-05-29 09:50] Yizhachok commented on #152
@bcomnes please take a look at this to reduce amount of warnings.

[2022-06-28 22:39] #152 closed, assigned to nobody

[2022-08-03 20:47] #149 closed, assigned to nobody

[2022-09-07 10:22] Janpot opened #162 "[Bug] v6 doesn't export types anymore"
### Describe the bug

v6 of this library doesn't seem to export any of its types anymore.

### Steps to reproduce the behavior

1. Upgrade to v6
2. try to use `InspectorTheme`, `ObjectInspectorProps`, `InspectorProps` as before
3. those types aren't exported anymore

I also use `type NodeRenderer = ObjectInspectorProps['nodeRenderer']` somewhere. Tried to emulate with `Parameters<typeof ObjectInsp

[2022-10-19 16:59] Janpot opened #163 "[Bug] Setting OBJECT_PREVIEW_OBJECT_MAX_PROPERTIES to 0 doesn't work"
### Describe the bug

When I set `OBJECT_PREVIEW_OBJECT_MAX_PROPERTIES` to `0`, all properties are shown in the preview

### Steps to reproduce the behavior

See  https://codesandbox.io/s/dry-tree-kthl62?file=/src/App.tsx

### Expected behavior

When I set `OBJECT_PREVIEW_OBJECT_MAX_PROPERTIES` to `0`, no properties are shown in the preview

### Environment

https://codesandbox.io/s/dry-tree-kthl6

[2022-10-29 19:43] cefn commented on #86
The linked URL is still 404 https://xyc.github.io/react-inspector/

[2022-11-02 20:39] ndelangen commented on #86
I changed it to the deployed storybook.

[2022-11-02 20:39] #86 closed, assigned to nobody